MisfitHeartRate/frameworks/opencv2.framework/Headers
MisfitHeartRate/frameworks/opencv2.framework/opencv2
MisfitHeartRate/frameworks/opencv2.framework/Resources
MisfitHeartRate/frameworks/opencv2.framework/Versions/Current
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/opencv2
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/calib3d.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/contrib.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/core.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/features2d.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/flann.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/highgui.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/imgproc.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/legacy.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/ml.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/nonfree.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/objdetect.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/opencv.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/opencv_modules.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/optim.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/photo.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/shape.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/softcascade.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/stitching.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/video.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/videostab.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/world.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/calib3d/calib3d.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/calib3d/calib3d_c.h
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/contrib/compat.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/contrib/contrib.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/contrib/detection_based_tracker.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/contrib/hybridtracker.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/contrib/openfabmap.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/core/affine.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/core/base.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/core/bufferpool.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/core/core.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/core/core_c.h
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/core/cuda.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/core/cuda.inl.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/core/cuda_stream_accessor.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/core/cuda_types.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/core/cvdef.h
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/core/cvstd.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/core/cvstd.inl.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/core/directx.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/core/eigen.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/core/ippasync.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/core/mat.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/core/mat.inl.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/core/matx.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/core/ocl.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/core/ocl_genbase.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/core/opengl.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/core/operations.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/core/persistence.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/core/private.cuda.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/core/private.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/core/ptr.inl.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/core/traits.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/core/types.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/core/types_c.h
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/core/utility.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/core/version.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/core/wimage.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/core/cuda/block.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/core/cuda/border_interpolate.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/core/cuda/color.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/core/cuda/common.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/core/cuda/datamov_utils.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/core/cuda/dynamic_smem.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/core/cuda/emulation.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/core/cuda/filters.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/core/cuda/funcattrib.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/core/cuda/functional.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/core/cuda/limits.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/core/cuda/reduce.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/core/cuda/saturate_cast.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/core/cuda/scan.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/core/cuda/simd_functions.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/core/cuda/transform.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/core/cuda/type_traits.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/core/cuda/utility.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/core/cuda/vec_distance.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/core/cuda/vec_math.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/core/cuda/vec_traits.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/core/cuda/warp.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/core/cuda/warp_reduce.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/core/cuda/warp_shuffle.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/core/cuda/detail/color_detail.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/core/cuda/detail/reduce.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/core/cuda/detail/reduce_key_val.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/core/cuda/detail/transform_detail.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/core/cuda/detail/type_traits_detail.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/core/cuda/detail/vec_distance_detail.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/features2d/features2d.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/flann/all_indices.h
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/flann/allocator.h
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/flann/any.h
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/flann/autotuned_index.h
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/flann/composite_index.h
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/flann/config.h
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/flann/defines.h
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/flann/dist.h
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/flann/dummy.h
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/flann/dynamic_bitset.h
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/flann/flann.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/flann/flann_base.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/flann/general.h
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/flann/ground_truth.h
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/flann/hdf5.h
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/flann/heap.h
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/flann/hierarchical_clustering_index.h
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/flann/index_testing.h
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/flann/kdtree_index.h
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/flann/kdtree_single_index.h
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/flann/kmeans_index.h
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/flann/linear_index.h
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/flann/logger.h
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/flann/lsh_index.h
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/flann/lsh_table.h
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/flann/matrix.h
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/flann/miniflann.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/flann/nn_index.h
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/flann/object_factory.h
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/flann/params.h
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/flann/random.h
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/flann/result_set.h
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/flann/sampling.h
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/flann/saving.h
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/flann/simplex_downhill.h
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/flann/timer.h
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/highgui/cap_ios.h
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/highgui/highgui.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/highgui/highgui_c.h
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/highgui/ios.h
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/imgproc/imgproc.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/imgproc/imgproc_c.h
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/imgproc/types_c.h
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/legacy/blobtrack.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/legacy/compat.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/legacy/legacy.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/legacy/streams.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/ml/ml.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/nonfree/cuda.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/nonfree/features2d.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/nonfree/nonfree.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/objdetect/erfilter.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/objdetect/linemod.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/objdetect/objdetect.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/objdetect/objdetect_c.h
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/optim/optim.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/photo/cuda.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/photo/photo.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/photo/photo_c.h
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/shape/emdL1.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/shape/hist_cost.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/shape/shape.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/shape/shape_distance.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/shape/shape_transformer.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/stitching/warpers.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/stitching/detail/autocalib.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/stitching/detail/blenders.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/stitching/detail/camera.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/stitching/detail/exposure_compensate.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/stitching/detail/matchers.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/stitching/detail/motion_estimators.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/stitching/detail/seam_finders.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/stitching/detail/util.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/stitching/detail/util_inl.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/stitching/detail/warpers.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/stitching/detail/warpers_inl.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/video/background_segm.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/video/tracking.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/video/tracking_c.h
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/video/video.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/videostab/deblurring.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/videostab/fast_marching.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/videostab/fast_marching_inl.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/videostab/frame_source.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/videostab/global_motion.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/videostab/inpainting.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/videostab/log.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/videostab/motion_core.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/videostab/motion_stabilizing.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/videostab/optical_flow.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/videostab/outlier_rejection.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/videostab/ring_buffer.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/videostab/stabilizer.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Headers/videostab/wobble_suppression.hpp
MisfitHeartRate/frameworks/opencv2.framework/Versions/A/Resources/Info.plist
